[submodule "ams-backend"]
	path = ams-backend
	url = git@github.com:MinaSaad47/ams-backend.git
[submodule "ams-frontend"]
	path = ams-frontend
	url = git@github.com:MinaSaad47/ams-frontend.git
[submodule "ams_dashboard"]
	path = ams_dashboard
	url = git@github.com:MinaSaad47/ams_dashboard.git
[submodule "face-recognition-classification-models"]
	path = face-recognition-classification-models
	url = https://github.com/Mina329/face-recognition-classification-models.git
